[Unit]
Description=Shadowsocks Client Service
After=network.target

[Service]
Type=simple
User=nobody
ExecStart=env ss-server -c /etc/shadowsocks-libev/config.json

[Install]
WantedBy=multi-user.target

