[Unit]
Description=clash Client Service
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/clash
ExecStartPost=/etc/clash/system-proxy.sh
ExecStop=/etc/clash/system-noproxy.sh


[Install]
WantedBy=multi-user.target
