[Unit]
Description=clash Client Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
ExecStart=/etc/clash/start-clash.sh
ExecStop=/etc/clash/stop-clash.sh


[Install]
WantedBy=network-online.target
